/* Breadcrumbs scss */
.breadcrumbs {
  width: 20%;
  float: right;
  font-size: 14px;
  margin: 10px 0 0;
  text-align: right;
}
.breadcrumbs__arrow {
  display: inline-block;
  color: #757575;
  font-size: 14px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAmklEQVQ4T7XTUQrDIAwGYHPD3WDrDToIXuIPbLuBO8GOmCK0kFGj8aF9ksZ8RGMomS/nfFPVn6q+ReRpY96abICZVyJ67f8KgGWE/AF1MzMXIrpHkRMwizSBGcQFokgXiCBDoIEsAMrRnesB21ZV/YrIw76N8CW2kisUaqOX7AKjsrtHmEk+VWCHqVe2W8ExzimlD4B1NIk1vgHsnGsRYXYsOAAAAABJRU5ErkJggg==");
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  width: 8px;
  height: 8px;
  margin: 0 10px;
}
.breadcrumbs__link {
  color: #757575;
  text-decoration: none;
}
.breadcrumbs__link:hover {
  color: #009688;
}
.breadcrumbs__no-link {
  color: #757575;
}
