/* Catalog styles */
.catalog__box {
  margin: 0 0 20px 0;
}
.catalog__box-title {
  display: inline-block;
  font-size: 14px;
  padding: 0 0 2px;
  margin: 0 0 10px 0;
  text-transform: uppercase;
  font-family: RobotoBold;
  text-transform: uppercase;
  border-bottom: 2px solid #E0E0E0;
}
.catalog__banner img {
  width: 100%;
}
.catalog__header {
  margin: 20px 0 0;
  padding: 10px 0;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  font-size: 13px;
}
.catalog__showed {
  display: inline-block;
  padding: 0 15px 0 0;
  border-right: 1px solid #E0E0E0;
}
.catalog__showed-item {
  display: inline-block;
  line-height: 28px;
  text-align: center;
  margin: 0 5px 0 0;
  width: 28px;
  height: 28px;
  border: 1px solid #E0E0E0;
}
.catalog__sort {
  display: inline-block;
  padding: 0 0 0 15px;
  position: relative;
}
.catalog__sort-title {
  display: inline-block;
  margin: 0 5px 0 0;
}
.catalog__display {
  display: inline-block;
  float: right;
  text-align: right;
}
.catalog__display-title {
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px 0 0;
}
.catalog__display-item {
  display: table-cell;
  vertical-align: middle;
}
.catalog__display-item span {
  display: inline-block;
  width: 28px;
  height: 28px;
  border: 1px solid #E0E0E0;
  margin: 0 0 0 7px;
}
.catalog__goods {
  display: table;
  margin: 28px 0 30px 0;
}
.catalog__goods-item {
  float: left;
  width: 211px;
  margin: 0 10px 20px 0;
}
.catalog__goods-item img {
  width: 100%;
}
.catalog__goods-item-margin-right-none {
  margin-right: 0;
}
.catalog__goods-item:hover {
  cursor: pointer;
}
.catalog__goods-title {
  color: #212121;
  font-size: 13px;
  line-height: 1;
  margin: 10px 0;
  text-align: center;
}
.catalog__desc {
  font-size: 13px;
}
.catalog__params-item label {
  font-size: 13px;
}
.catalog__params-item-color {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin: 0 10px 0 0;
  border: 1px solid #E0E0E0;
  padding: 6px;
  transition: all .3s;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.catalog__params-item-color:hover {
  border: 1px solid #009688;
  cursor: pointer;
}
