/* Category styles */
.category {
  display: table;
  margin: 25px 0 0;
}
.category__item {
  float: left;
  width: 32%;
  height: 175px;
  overflow: hidden;
}
.category__item-has-margin {
  margin: 0 2%;
}
.category__item-wrp {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}
.category__item:hover {
  cursor: pointer;
}
.category__item:hover img {
  -webkit-transform: scale(1.1);
  /* Safari and Chrome */
  -moz-transform: scale(1.1);
  /* Firefox */
  -ms-transform: scale(1.1);
  /* IE 9 */
  -o-transform: scale(1.1);
  /* Opera */
  transform: scale(1.1);
  -webkit-filter: blur(3px);
}
.category__img {
  width: 100%;
  -webkit-transition: all .3s ease;
  /* Safari and Chrome */
  -moz-transition: all .3s ease;
  /* Firefox */
  -ms-transition: all .3s ease;
  /* IE 9 */
  -o-transition: all .3s ease;
  /* Opera */
  transition: all .3s ease;
}
.category__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #fff;
  margin: 0 auto;
  width: 60%;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  z-index: 10;
  bottom: 35%;
}
