.notification {
  background: #D7EEEE;
  color: #39a4b8;
}
.notification__container {
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  padding: 10px 0;
}
.notification__container span {
  background: #009688;
  color: #fff;
}
.notification__container a {
  color: #39a4b8;
}
