.selectize-control {
  width: 180px;
  line-height: 1;
  position: absolute;
  top: -7px;
  right: -190px;
}

.selectize-input {
  border: 1px solid #E0E0E0;
  border-radius: 0;
}

.selectize-dropdown {
  border: 1px solid #E0E0E0;
  border-radius: 0;
}
