/* Main styles */

body, html {
	height: 100%;
}

body {
	overflow-x: hidden;
	color: #212121;
}

h2 {
	position: relative;
	text-transform: uppercase;
	font-size: 20px;
	color: #212121;
	text-align: center;
	margin: 25px 0;
	clear: both;
	font-weight: normal;

	&:before {
		content: "";
		position: absolute;
		top: 9px;
		left: 0;
		width: 35%;
		border-top: 1px solid #E0E0E0;
	}
	
	&:after {
		content: "";
		position: absolute;
		top: 9px;
		right: 0;
		width: 35%;
		border-top: 1px solid #E0E0E0;
	}
}

.wrp {
	width: 1000px;
	margin: auto;
}

.wrp-main {
	min-height: 100%;
}

.title {
	color: #000;
	font-size: 24px;
	font-weight: 400;
	color: #757575;
	width: 80%;
	float: left;
	margin: 0;
}

.logo {
	position: absolute;
	bottom: 20px;
	left: 0;
	display: block;
	background: url(../src/i/logo.png) 0 0 no-repeat;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	width: 150px;
	height: 38px;
}

.phones {
	text-align: right;
	font-size: 14px;
	color: #999;
	padding: 20px 0 0;

	&__title {
		color: #212121;
		font-weight: bold;
		margin: 0 0 5px 0;
	}
}

.slogan {
	padding: 20px 0 0;
	font-size: 14px;
	color: #999;
}