/* Main styles */

body, html {
	height: 100%;
}

.wrp {
	width: 1000px;
	margin: auto;
}

.wrp-main {
	min-height: 100%;
}

.title {
	color: #000;
	font-size: 24px;
	font-weight: 400;
	color: #757575;
	width: 80%;
	float: left;
	margin: 0;
}

.logo {
	position: absolute;
	bottom: 20px;
	left: 0;
	display: block;
	background: url(../i/logo.png) 0 0 no-repeat;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	width: 150px;
	height: 38px;
}